.all-tracks::-webkit-scrollbar {
    height: 2px;
}
      
/* Track */
.all-tracks::-webkit-scrollbar-track {
    background: none;
}
       
/* Handle */
.all-tracks::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}
      
/* Handle on hover */
.all-tracks::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}

.all-playlists::-webkit-scrollbar {
    height: 2px;
}
      
/* Track */
.all-playlists::-webkit-scrollbar-track {
    background: none;
}
       
/* Handle */
.all-playlists::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}
      
/* Handle on hover */
.all-playlists::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}

.queueRecentlyPlayedContent::-webkit-scrollbar {
    width: 2px;
}
      
/* Track */
.queueRecentlyPlayedContent::-webkit-scrollbar-track {
    background: none;
}
       
/* Handle */
.queueRecentlyPlayedContent::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}
      
/* Handle on hover */
.queueRecentlyPlayedContent::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}