:root {
    --black: avenirBlack;
    --heavy: avenirHeavy;
    --regular: avenirRegular;
    --light: avenirBook;
    --backgroundColorSite: rgb(24,20,20);
    --white: rgb(255,255,255);
}

h1 {
    color: var(--white);
}

h2 {
    margin: 0;
    font-family: var(--heavy);
    color: var(--white);
}

label {
    color: var(--white);
}

p {
    color: var(--white);
}

b {
    color: var(--white);
}

a {
    font-family: var(--heavy);
    color: var(--white);
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

html {
    background-color: var(--backgroundColorSite);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 79vh 15vh;
    overflow-y: hidden;
}

.header {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 10rem 10rem 1fr 10rem 10rem;
    grid-template-rows: 1fr;
}

.header h1 {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    font-family: var(--black);
    margin: .3rem 0 0 0;
}

.header a:nth-of-type(1) {
    grid-column: 4;
    grid-row: 1;
}

.header a:nth-of-type(2) {
    grid-column: 5;
    grid-row: 1;
}

main {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 14rem 2rem 14rem;
}

main h2:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1
}

.all-tracks {
    grid-column: 1;
    grid-row: 2;
    height: 14rem;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-flex;
    width: 100%;
}

.track-group {
    /* background-color: black; */
    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 10rem 1rem 1rem ;
    font-family: var(--regular);
    margin: .6rem .8rem 0 0;
}

.track-group div {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    display: inline-block;
    position: relative;
}

.track-group div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.track-group div img {
    width: 100%;
}

.track-group b {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.8rem;
    margin: 0px
}

.track-group p {
    grid-column: 1;
    grid-row: 3;
    font-size: 0.8rem;
    margin: 0px
}

main h2:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3
}

.all-playlists {
    grid-column: 1;
    grid-row: 4;
    height: 13rem;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-flex;
    width: 100%;
}

.playlist-group {
    /* background-color: black; */
    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 10rem 1rem;
    font-family: var(--regular);
    margin: .6rem .8rem 0 0;
}

.playlist-group div {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    display: inline-block;
    position: relative;
}

.playlist-group div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.playlist-group div img {
    width: 100%;
}

.playlist-group p {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.8rem;
    margin: 0px
}

.startPage {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 50%;
}

.startLogo {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    height: 100%;
}

.startTitle {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    align-self: end;
    font-family: var(--heavy);
    font-size: 40px;
}

.startButton {
    grid-column: 1;
    grid-row: 3;
    align-self: start;
    font-family: var(--heavy);
    font-size: 30px;
    border: 1px solid #1DB954;
    padding: 10px;
    border-radius: 5px;
}

.mediaControls {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 133px 10% 5% 5% 40% 10% 5% 5% 5% 1fr ;
    grid-template-rows: 75px 75px;
}

.mediaControls img:nth-of-type(1) {
    grid-column: 1;
    grid-row: span 2;
    width: 125px;
}

.mediaControls p:nth-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    font-family: var(--regular);
}

.mediaControls p:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    margin: 0;
    font-family: var(--regular);
}

.mediaControls div {
    grid-column: 5;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

/* shuffle */
.mediaControls div button:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    justify-self: center;
    align-self: center;
    color: var(--white)
}

/* previous */
.mediaControls div button:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    justify-self: center;
    align-self: center;
}

/* togglePlay */
.mediaControls div button:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
    margin: 0;
    justify-self: center;
    align-self: center;
}

/* next */
.mediaControls div button:nth-of-type(4) {
    grid-column: 4;
    grid-row: 1;
    margin: 0;
    justify-self: center;
    align-self: center;
}

/* repeat */
.mediaControls div button:nth-of-type(5) {
    grid-column: 5;
    grid-row: 1;
    margin: 0;
    justify-self: center;
    align-self: center;
}

/* timestamp */
.mediaControls div p:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-family: var(--regular);
}

/* seek */
.mediaControls div label:nth-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
    align-self: center;
    font-family: var(--regular);
}

/* duration */
.mediaControls div p:nth-of-type(2) {
    grid-column: 5;
    grid-row: 2;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-family: var(--regular);
}

/* switchDevice */
.mediaControls button:nth-of-type(1) {
    grid-column: 7;
    grid-row: span 2;
    margin: 0;
    justify-self: center;
    align-self: center;
}

/* queue */
.mediaControls button:nth-of-type(2) {
    grid-column: 8;
    grid-row: span 2;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-family: var(--regular);
}

/* volume */
/* .mediaControls label:nth-of-type(1) {
    grid-column: 9;
    grid-row: span 2;
    align-self: center;
    font-family: var(--regular);
} */

.mediaControls button:nth-of-type(3) {
    grid-column: 9;
    grid-row: span 2;
    margin: 0;
    justify-self: center;
    align-self: center;
}

#volumeSliderLabel {
    display: none;
    grid-column: 9;
    grid-row: span 2;
    margin: 0px;
    padding-bottom: 10rem ;
    justify-self: center;
    align-self: center;
    transform: translateY(-23vh);
    z-index: 999;
}

#volumeSliderLabel:hover {
    display: block;
}

.mediaControls button:nth-of-type(3):hover ~ #volumeSliderLabel {
    display: block;
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
}

#queue {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 100%;
    z-index: 1000;
    padding: 0px .3rem 0px .3rem;
    background-color: #181414;
    overflow-y: hidden;
    grid-template-columns: 45% 45% 10%;
    grid-template-rows: 5rem 1fr;
    border-left: 2px solid darkgray;
}

.queueOpened {
    display: grid;
}

.queueClosed {
    display: none;
}

#queue label {
    color: var(--white);
    font-family: var(--heavy);
    cursor: pointer;
    padding-bottom: 5px;
}

#queue label:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

#queue label:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

#queue button {
    grid-column: 3;
    grid-row: 1;
    color: var(--white)
}

#queue #queueContent {
    grid-column: span 3;
    grid-row: 2;
}

#queue #queueContent p {
    color: var(--white);
    font-family: var(--regular);
}

#queue #recentlyPlayedContent {
    grid-column: span 3;
    grid-row: 2;
}

#queue input[type="radio"] {
    appearance: none;
}

#queue:has(label:nth-of-type(1) input[type="radio"]:checked) label:nth-of-type(1) {
    border-bottom: 3px solid #1DB954;
    border-radius: 3px;
}

#queue:has(label:nth-of-type(2) input[type="radio"]:checked) label:nth-of-type(2) {
    border-bottom: 3px solid #1DB954;
    border-radius: 1px;
}

#queue:has(label:nth-of-type(1) input[type="radio"]:checked) > #queueContent {
    display: block;
}

#recentlyPlayedContent {
    display: none;
}

#queue:has(label:nth-of-type(2) input[type="radio"]:checked) > #recentlyPlayedContent {
    display: block;
}

.queueRecentlyPlayedContent {
    height: calc(100vh - 5rem);
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

#queue div h3 {
    color: var(--white);
    font-family: var(--heavy); 
}

.queue-group {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-family: var(--regular);
    margin: .6rem 0 .6rem 0;
}

.queue-group div {
    grid-column: 1;
    grid-row: span 2;
    width: 100%;
    display: inline-block;
    position: relative;
    justify-self: center;
    align-self: center;
}

.queue-group div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.queue-group div img {
    width: 100%;
}

.queue-group b {
    grid-column: 2;
    grid-row: 1;
    font-size: .8rem;
    margin: 0px;
    align-self: end;
    padding-left: .6rem
}

.queue-group p {
    grid-column: 2;
    grid-row: 2;
    font-size: .8rem;
    margin: 0px;
    justify-self: start;
    padding-left: .6rem
}

.mediaControls div [type="range"] {
    width: 100%;
    --track-size: 100%;
    --thumb-size: 10px;
}

section div {
    border-radius: 25px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    cursor: pointer;
}

section div svg {
    display: none;
}

section div:hover svg {
    display: block;
    z-index: 1000;
}

section div:hover img {
    scale: 120%; 
}

