@import 'navbar.css';
@import 'scroll.css';

@font-face {
    font-family: avenirBlack;
    src: url(../fonts/Avenir\ Black.ttf);
    type: truetype;
}

@font-face {
    font-family: avenirHeavy;
    src: url(../fonts/Avenir\ Heavy.ttf);
    type: truetype;
}

@font-face {
    font-family: avenirRegular;
    src: url(../fonts/Avenir\ Regular.ttf);
    type: truetype;
}

@font-face {
    font-family: avenirBook;
    src: url(../fonts/Avenir\ Book.ttf);
    type: truetype;
}


:root {
    --black: avenirBlack;
    --heavy: avenirHeavy;
    --regular: avenirRegular;
    --light: avenirBook;
    /* --backgroundColorSite: rgb(24,20,20); */
    /* --backgroundColorSite: #280137; */
    --backgroundColorSite: #272727;
    --white: rgb(255,255,255);
	--font-size-h1: clamp(2rem, 6vw ,6rem);
	--font-size-h2: clamp(1rem, 2.5vw ,3rem);
	--font-size-h3: clamp(1.2rem, 1.5vw ,1.8rem);
	--font-size-p: clamp(1rem, 2vw, 1.2rem);
}

h1, h2, h3, p {
    color: var(--white);
}

h1 {
    font-family: var(--black);
    font-size: var(--font-size-h1);
}

h2 {
    font-family: var(--heavy);
    font-size: var(--font-size-h2);
}

h3 {
    font-family: var(--regular);
    font-size: var(--font-size-h3);
}

p {
    font-family: var(--regular);
    font-size: var(--font-size-p);
}

/* section {
    min-height: 100vh;
} */

body {
    background-color: var(--backgroundColorSite);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

main {
    grid-column: 1;
    grid-row: 2;
    height: 90vh;
    overflow-y: auto;
    /* margin: 0 .3em; */

    > h1 {
        text-align: center;
    }
}

footer {
    grid-column: 1;
    grid-row: 1;
}

.sprekersContainer {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(calc(25rem - 4px), 1fr)); */
    grid-template-columns: repeat(auto-fill, 24rem);
    justify-content: center;
    column-gap: 1rem;
}

.sprekers {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
    }

    img {
        align-self: center;
        width: 100%;
        border-radius: 1rem;
    }

    p {
        width: 100%;
    }

    p:nth-of-type(2) {
        min-height: 2em;
    }   
}

.content {
    display: block;
    
    overflow-x: hidden;
    

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4vh 12.5vw 4vh;
        width: 75vw;

        h1 {
            font-size: var(--font-size-h2);
            width: 50vw;
            text-align: left;
            align-self: center;
            filter: drop-shadow(5px 5px 10px #000000);
        }

        img {
            max-width: 400px;
            height: 400px;
            border-radius: 1em;
            /* border: .3px solid #C52233; */
            /* box-shadow: 0px 3px 5px -1px #C52233; */
            filter: drop-shadow(0px 0px 1px #C52233);
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 4vh 0vh;
        align-self: center;

        h1 {
            text-align: center;
            font-size: var(--font-size-h2);
            margin: .1em 0;
            width: 70vw;
            align-self: center;
            filter: drop-shadow(5px 5px 10px #000000);
        }

        img {
            width: 75vw;
            align-self: center;
            border-radius: 6em;
        }
    }

    div {
        /* display: flex; */
        /* gap: 2vw; */
        margin: 1em 0;
        /* flex-direction: row; */

        section {
            border-radius: 2em;
            height: max-content;

            h2 {
                filter: drop-shadow(5px 5px 10px #000000);
            }
        }
        
        section:nth-of-type(1) {
            p:nth-of-type(1) {
                filter: drop-shadow(5px 5px 10px #000000);
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 12.5vw 1fr 12.5vw;
        grid-template-rows: 1fr 20em;
        /* align-items:start; */
        justify-items: center;
        /* border-left: none;
        border-right: none; */

        .button {
            align-self: center;
            width: 4em;
            height: 4em;
            background-color: rebeccapurple;
        }

        #button-left {
            grid-column: 1;
            grid-row: span 2;

        }

        h2 {
            align-self: start;
            text-align: start;
            grid-column: 2;
            grid-row: 1;
            width: 100%;
        }

        section {
            grid-column: 2;
            grid-row: 2;
            margin: 0;
            height: 15em;
            overflow: scroll;
            /* border: 2px solid #C52233; */
            border-radius: 1em;
            padding: .2em .5em .2em .5em;
            background-color: #C52233;
        }

        #button-right {
            grid-column: 3;
            grid-row: span 2;
            width: 4em;
            height: 4em;
            background-color: rebeccapurple;
        } 
    }

    

    @media (min-width: 1400px) {
        div {
            flex-direction: row;
            position: relative;
            
        }

        .one {
            flex-direction: column;
            border-top: 2px solid #C52233;
            /* border-left: 2px solid #C52233;
            border-right: 2px solid #C52233;; */
            margin: 0;
            
            section {
                margin: 0 12.5vw 0 12.5vw;
            }
        }

        

        .two {
            display: flex;
            border-top: 2px solid #C52233;
            margin-bottom: 0;

            div {
                margin-top: 0;
                width: 50vw;
            }

            div:nth-of-type(1) {
                display: flex;
                margin-left: 12.5vw;
                flex-direction: column;
                
            }
            /* outline: 1px solid black; */
            div:nth-of-type(2) {
                width: 60%;
                border-left: 2px solid #C52233;
                margin-right: 12.5vw;
                margin-bottom: 0;
            }
            
            section {
                width: 100%
            }
                .left {
                    
                    padding-right: 3em;
                    width: 90%;
                    
                }
    
                .right {

                    padding-left: 3em;
                }
            }
        }

    @media (max-width: 1400px) {
        .title {
            img {
                width: 30vw;
                height: auto;
            }
        }

        .one {
            flex-direction: column;
            border-top: 2px solid #C52233;
            /* border-left: 2px solid #C52233;
            border-right: 2px solid #C52233;; */
            margin: 0;
            
            section {
                margin: 0 12.5vw 0 12.5vw;
            }
        }

        .two {
            flex-direction: column;
            transition: .5s smooth;
            width: 75vw;
            margin: 0 12.5vw 0 12.5vw;

            div:nth-of-type(1) {
                border-top: 2px solid #C52233;
            }

            div {
                
            section {
                /* margin: 0vw 10vw 0vw 10vw; */
                /* padding: 0em 3em 0em 3em; */
                width: 100%;

                p {

                }

                div {
                    overflow: hidden;
                    min-height: 20em;
                    max-height: 40em;
                    
                    position: relative;
                    border-radius: 2em;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;
                        max-width: none;
                        max-height: none;
                    }
                }
            }
        }
    }
        }
    


}


/* old */
.content-old {
    display: block;
    padding: 0 5vw;
    overflow-x: hidden;

    .title {
        display: flex;
        flex-direction: row;
        gap: 10vw;

        div {
            display: block;
            margin: 0;
        }

        h1 {
            margin: 0;
        }
    
        p {
        }
    
        img {
            width: 16em;
            height: 16em;
            border-radius: 2em;
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: 2vw;

        h1 {
            text-align: center;
            margin: 0
        }

        img {
            width: 90vw;
        }
    }

    @media (min-width: 1400px) {
        div {
            flex-direction: row;
        }
        .two {
            section {
                width: 45vw;
            }
                .left {
                    background-color: red;
                }
    
                .right {
                    background-color: blue;
                }
            }

        .three {
            section {
                width: 30vw;

                p {

                }

                div {
                    overflow: hidden;
                    height: 20em;
                    width: 100%;
                    position: relative;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;
                        max-width: none;
                        max-height: none;
                    }
                }
            }
                .left {
                    background-color: red;
                }

                .middle {
                    background-color: green;
                }
    
                .right {
                    background-color: blue;
                }
            }       
        }

    @media (max-width: 1400px) {
        div {
            flex-direction: column;
            transition: .5s smooth;
            
            section {
                p {

                }

                div {
                    overflow: hidden;
                    min-height: 20em;
                    max-height: 40em;
                    width: 100%;
                    position: relative;
                    border-radius: 2em;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;
                        max-width: none;
                        max-height: none;
                    }
                }
            }
        }
            
            .left {
                background-color:darkred;
            }

            .middle {
                background-color: darkgreen;
            }

            .right {
                background-color: darkblue;
            }
        }
    

    div {
        display: flex;
        gap: 2vw;
        margin: 1em 0;
        width: 90vw;
        /* flex-direction: row; */

        section {
            border-radius: 2em;
            padding: .3 1em;
            height: max-content
        }
    }
}

/* .content {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 30vh 1fr;
    column-gap: 5vw;
    justify-content: center;
}

.content .title {
    grid-column: span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr 1fr;

    h1 {
        grid-column: 1;
        grid-row: 1;
        font-size: 2rem;
    }

    p {
        grid-column: 1;
        grid-row: 2;
        font-size: 2rem;
    }

    img {
        grid-column: 2;
        grid-row: span 2;
        width: 20vw;
        text-align: right;
    }
}


.content .left {
    grid-column: 1;
    grid-row: 2
}

.content .right {
    grid-column: 2;
    grid-row: 2;
} */