@import 'navbar.css';
@import 'scroll.css';
@import 'pages.css';

@font-face {
    font-family: avenirBlack;
    src: url(../fonts/Avenir\ Black.ttf);
    type: truetype;
}

@font-face {
    font-family: avenirHeavy;
    src: url(../fonts/Avenir\ Heavy.ttf);
    type: truetype;
}

@font-face {
    font-family: avenirRegular;
    src: url(../fonts/Avenir\ Regular.ttf);
    type: truetype;
}

@font-face {
    font-family: avenirBook;
    src: url(../fonts/Avenir\ Book.ttf);
    type: truetype;
}


:root {
    --black: avenirBlack;
    --heavy: avenirHeavy;
    --regular: avenirRegular;
    --light: avenirBook;
    /* --backgroundColorSite: rgb(24,20,20); */
    /* --backgroundColorSite: #280137; */
    --backgroundColorSite: #272727;
    --shadow-color: #000000;
    --logo-image: url("../pictures/logo-transparent-black-red.png");
    --white: rgb(255,255,255);
    --font-color: #fff;
	--font-size-h1: clamp(2rem, 6vw ,6rem);
	--font-size-h2: clamp(1rem, 2.5vw ,3rem);
	--font-size-h3: clamp(1.2rem, 1.5vw ,1.8rem);
	--font-size-p: clamp(1rem, 2vw, 1.2rem);
    transition: all 0.5s ease; /* Apply the transition to the root */
}

h1, h2, h3, p {
    color: var(--font-color);
}

h1 {
    font-family: var(--black);
    font-size: var(--font-size-h1);
}

h2 {
    font-family: var(--heavy);
    font-size: var(--font-size-h2);
}

h3 {
    font-family: var(--regular);
    font-size: var(--font-size-h3);
}

p {
    font-family: var(--regular);
    font-size: var(--font-size-p);
}

body {
    background-color: var(--backgroundColorSite);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    transition: all .5s ease; /* Apply the transition to the root */
}

main {
    grid-column: 1;
    grid-row: 2;
    height: 90vh;
    overflow-y: auto;
    /* margin: 0 .3em; */

    > h1 {
        text-align: center;
    }
}

footer {
    grid-column: 1;
    grid-row: 1;
}

