.scrollable {
    overflow-y: scroll; /* Show vertical scrollbar */
    }
    
.scrollable::-webkit-scrollbar {
    width: 5px;
}
      
/* Track */
.scrollable::-webkit-scrollbar-track {
    background: none;
}
       
/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
      
/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
}